@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f5ee;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h2 {
  font-weight: bold;
}

input {
  border: 1px solid #bababa;
  border-radius: .25em;
  padding: .5em;
}

input:focus {
  border: 1px solid mediumblue;
}

input:focus-visible {
  outline: none;
  border: 1px solid mediumblue;
}

input::placeholder {
  color: #bababa;
}

li {
  padding: .5em;
}

li:hover {
  background-color: #efefef;
}

li.active{
  background-color:mediumblue;
  color: white;
}